//fill in values from a valid http session, leaving examples in here, but just dump all of cookies, and erase this line
{"preferences2": "_db_csrf:|:|default_import_condition_Inventory:|default_import_language_Inventory:|default_import_edition_Inventory:|", "_ga": "9", "forum_cookie_22f88d": "", "auth_token": "", "_tcg_session": "", "_gid": "", "forum_cookie_22f88d_track": "", "__utma": "", "__utmb": "", "__utmc": "", "__utmz": "", "__utmt": "", "_gat": ""}